.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    grid-template-rows: 50vh 50vh;
    justify-content: start;
    align-items: start;
}




.grid-container>div {
    padding: 1em;
    background-color: gray;
}

.grid-container>div:nth-child(even) {
    background-color: lightgray;
}